$green-hard: #30AE63;
$green-light: #50DB88;
$green-lighter: #EAFFF5;
$red-hard: #E71D32;
$red-lighter: #FFEFEA;
$gray: #DFE3E6;
$gray-hard: rgba(90, 104, 114, .08);
$gray-light: #D8D8D8;
$gray-smallfont: #8C9BA5;
$gray-listing-smallfont: #9B9B9B;
$gray-link: #979797;
$just-another-fucking-gray-color-i-am-annoyed: #979797;
$lifehack: #BA8FF7;
$advice: $green-hard;
$blue: #2573D8;
$tech: $blue;
$darkfont: #152935;
$breadcrumb: #2573D8;
$link: #2C74C7;
$black: #4A4A4A;
$black-harder: rgba(0, 0, 0, 60);

$green-metro: #30AD64;
$blue-metro: #4A90E2;
$red-metro: $red-hard;