@import '../variables.scss';

ul.breadcrumb {
    color: $breadcrumb;
    font-size: 14px;
    line-height: 17px;
    list-style: none;
    li {
        display: inline;
        &:after {
            content: '  /  ';
        }
        &:last-of-type {
            &:after {
                content: '';
            }
        }
        a {
            &:visited {
                color: $breadcrumb;
            }
        }
    }
}